<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" href = "style.css">
<script type = 'text/javascript' src = 'lightbox.js'></script>

</head>
<body>

<div id = "topmenu">
<ul ><li><a href = "home">LOGOUT </a></li><li><a href = "home">PROFILE</a></li><li> <a href = "home">PLAY</a></li> <li><a href = "home">HOUSES</a></li><li>
<a href = "home">HOME</a></li>
</ul>
</div>
<div id = "cover">
<div id = "clickout" onclick="offc()">Clickout</div>
<div id = "cover1"><!--start of layer1-->

<div id="starkName" class="navStark">
   House stark rocks
</div>
<div id="starkPeople" class="starkList">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNavS()">&times;</a>
 House stark rocks
</div>
<div id = "stark" onclick="openNavS(this)">&#9776; House Stark</div><br><br>

</div>

<div id = "cover2">

<div id="lannisterName" class="navLannister">  
 House Lannister rocks
 </div>
<div id="lannisterPeople" class="lannisterList">
 <a href="javascript:void(0)" class="closebtn" onclick="closeNavL()">&times;</a>
 House Lannister rocks
</div>
<div id = "lannister" onclick="openNavL(this)">&#9776; House Lannister</div><br><br>

</div>

<div id = "cover3">

<div id="targaName" class="navTarga">  
House Targaeryon rocks
 </div>
<div id="targaPeople" class="targaList">
 // <a href="javascript:void(0)" class="closebtn" onclick="closeNavT()">&times;</a>
 House Targaeryon rocks
</div>
<div id = "targa" onclick="openNavT(this)">&#9776; House Targaeryon</div><br><br>

</div>

<div id = "cover4">

<div id="greyjoyName" class="navGreyjoy">  
 House Greyjoy rocks
 </div>
<div id="greyjoyPeople" class="greyjoyList">
 // <a href="javascript:void(0)" class="closebtn" onclick="closeNavG()">&times;</a>
 House Greyjoy rocks
</div>
<div id = "greyjoy" onclick="openNavG(this)">&#9776; House Greyjoy</div>
</div><!-- end of layer 1-->

<div id = "cover5">lllllllllllll</div>
<div id = "cover6">lllllllllllll</div>
<div id = "cover7">lllllllllllll</div>
<div id = "cover8">lllllllllllll</div>
</div>
<!--<figure class="box box-1">Box 1</figure>-->




<div id ="la" onclick="onc()">Turn on overlay effect</div>



</body>
</html>