div#first {
	background-color : #f1f99e;
    height : 62%;
    width : 100%;
}

div#break1{
    height: 30%;
    width: 100%;
}

div#text{
    color : black;
    text-shadow : 2px 2px #0c0c0c;
    text-align : center;
    width : 70%; 
    padding-top:  10px; 
    font-family : trajan-pro-3,'Trajan Pro',Georgia,'Times New Roman';;
    font-size : 3.5em;
}

div#backHouse {
    background-image : url('F:/event/oct/a.jpg');
    height : 650px;
}

div#backProfile {
    background-image : url('F:/event/oct/a.jpg');
    height : 650px;
}

div#second {
    background-image : url('F:/event/oct/a.jpg');
    height : 100%;
}

div#third{
    background-image : url('F:/event/oct/a.jpg');
    height : 100%;
}
div#fourth{
    background-image : url('F:/event/oct/a.jpg');
    height : 100%;
}


div#topmenu {
	background-color : #233544;
	height : 7%;
}

div#logo {
	float : left;
}

div#break {
	height : 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #233544;
}

li {
    float: right;
    padding-right: 40;
}

li a {
    display: block;
    color: #aba5a5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family : unset;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
body {margin:0;}

div#combat_rules{
    position : absolute;
    top : 50%;
    left : 50%;
    color : white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

div#poach_rules{
    position : absolute;
    top : 50%;
    left : 50%;
    color : white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

div#overlay_combat{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

div#overlay_poach{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}


.navHistory {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}


.navStark {
    height: 5%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navLannister {
    height: 5%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 70;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navTarga {
    height: 5%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 70;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.navGreyjoy {
    height: 5%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 70;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.starkList {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.lannisterList {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.targaList {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.greyjoyList {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


div#stark{
    font-size:30px;
    cursor:pointer;
    width: 30%;
}

div#lannister{
    font-size:30px;
    cursor:pointer;
    width: 30%;
}

div#targa{
    font-size:30px;
    cursor:pointer;
    width: 30%;
}

div#greyjoy{
    font-size:30px;
    cursor:pointer;
    width: 30%;
}

div#history{
    font-size:30px;
    cursor:pointer;
    bottom : 0;
    padding-top : 550;
    padding-left : 700;
    color : white;
    
}
div#inHistory{
    font-size:30px;
    
    
    
    color : white;
    
}

.starkList a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.starkList a:hover {
    color: #f1f1f1;
}

.starkList .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

.lannisterList a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.lannisterList a:hover {
    color: #f1f1f1;
}

.lannisterList .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

.targaList a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.targaList a:hover {
    color: #f1f1f1;
}

.targaList .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

.greyjoyList a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.greyjoyList a:hover {
    color: #f1f1f1;
}

.greyjoyList .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

.navHistory a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navHistory a:hover {
    color: #f1f1f1;
}

.navHistory .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
    display : none;
}

.mySlides {display:none;}